@tailwind base;
@tailwind components;
@tailwind utilities;

.picture-enter {
    transform: translatex(100%);
}
.picture-enter-active {
    transform: translatex(0px);
    transition-duration: 1000ms;
}
.picture-exit {
    transform: translatex(0px);
}
.picture-exit-active {
    transform: translatex(-100%);
    transition-duration: 1000ms;
}

html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

[data-arrow],
[data-arrow]::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}
[data-arrow] {
    visibility: hidden;
}

[data-arrow]::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
}

[data-popper-placement^="top"] > [data-arrow] {
    bottom: -4px;
}

[data-popper-placement^="bottom"] > [data-arrow] {
    top: -4px;
}

[data-popper-placement^="left"] > [data-arrow] {
    right: -4px;
}

[data-popper-placement^="right"] > [data-arrow] {
    left: -4px;
}
